<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/pagination.css"/>
    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>
    <script src="js/jquery.js"></script>
    <style type="text/css">
        th,td{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">首页</a></li>
                <li><a href="#" target="_blank">订餐首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="http://www.jscss.me">管理员</a></li>
                <li><a href="http://www.jscss.me">修改密码</a></li>
                <li><a href="http://www.jscss.me">注销</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>订单相关</a>
                    <ul class="sub-menu">
                        <li><a href="Items.html"><i class="icon-font">&#xe008;</i>商品管理</a></li>
                        <li><a href="foodMenu.html"><i class="icon-font">&#xe008;</i>标准菜谱</a></li>
                        <li><a href="orders.html"><i class="icon-font">&#xe005;</i>确认订餐单</a></li>
                        <li><a href="weekOrders.html"><i class="icon-font">&#xe012;</i>周订餐汇总</a></li>
                        <li><a href="monthRefund.html"><i class="icon-font">&#xe006;</i>月总退餐表</a></li>
                        <li><a href="statistics.html"><i class="icon-font">&#xe052;</i>数据统计</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>其他操作</a>
                    <ul class="sub-menu">
                        <li><a href="deliveryMen.html"><i class="icon-font">&#xe017;</i>送餐员管理</a></li>
                        <li><a href="customerAdvice.html"><i class="icon-font">&#xe004;</i>客户意见回复</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="addItem.html"><i class="icon-font"></i>添加商品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" id="allChoose" name="" type="checkbox"></th>
                            <th style="text-align: center">序号</th>
                            <th style="text-align: center">图片</th>
                            <th style="text-align: center">名称</th>
                            <th style="text-align: center">描述</th>
                            <th style="text-align: center">价格/元</th>
                            <th style="text-align: center">菜品有效期</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        <!--START 循环遍历-->
                        <tr>
                        <td class="tc"><input name="id[]" value="1" type="checkbox" class="singleChoose"></td>
                        <td>1</td>
                        <td><img src="images/food/food.jpg" width="80px" alt=""/></td>
                        <td>青椒肉丝</td>
                        <td>价格实惠，美味可口，回味无穷!</td>
                        <td>15</td>
                        <td>已上架</td>
                        <td>
                            <a  href="#" class="#">修改</a>
                            <a  href="#" class="#">下架</a>
                            <a  href="#" class="#">删除</a>
                        </td>
                        </tr>
                        <tr>
                            <td class="tc"><input name="id[]" value="1" type="checkbox" class="singleChoose"></td>
                            <td>1</td>
                            <td><img src="images/food/food.jpg" width="80px" alt=""/></td>
                            <td>青椒肉丝</td>
                            <td>价格实惠，美味可口，回味无穷!</td>
                            <td>15</td>
                            <td>已上架</td>
                            <td>
                                <a  href="#" class="btn btn-primary btn2">修改</a>
                                <a  href="#" class="btn btn-warning btn2">下架</a>
                                <a  href="#" class="btn btn-danger btn2">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tc"><input name="id[]" value="1" type="checkbox" class="singleChoose"></td>
                            <td>1</td>
                            <td><img src="images/food/food.jpg" width="80px" alt=""/></td>
                            <td>青椒肉丝</td>
                            <td>价格实惠，美味可口，回味无穷!</td>
                            <td>15</td>
                            <td>已上架</td>
                            <td>
                                <a  href="#" class="btn btn-primary btn2">修改</a>
                                <a  href="#" class="btn btn-warning btn2">下架</a>
                                <a  href="#" class="btn btn-danger btn2">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tc"><input name="id[]" value="1" type="checkbox" class="singleChoose"></td>
                            <td>1</td>
                            <td><img src="images/food/food.jpg" width="80px" alt=""/></td>
                            <td>青椒肉丝</td>
                            <td>价格实惠，美味可口，回味无穷!</td>
                            <td>15</td>
                            <td>已上架</td>
                            <td>
                                <a  href="#" class="btn btn-primary btn2">修改</a>
                                <a  href="#" class="btn btn-warning btn2">下架</a>
                                <a  href="#" class="btn btn-danger btn2">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tc"><input name="id[]" value="1" type="checkbox" class="singleChoose"></td>
                            <td>1</td>
                            <td><img src="images/food/food.jpg" width="80px" alt=""/></td>
                            <td>青椒肉丝</td>
                            <td>价格实惠，美味可口，回味无穷!</td>
                            <td>15</td>
                            <td>已上架</td>
                            <td>
                                <a  href="#" class="btn btn-primary btn2">修改</a>
                                <a  href="#" class="btn btn-warning btn2">下架</a>
                                <a  href="#" class="btn btn-danger btn2">删除</a>
                            </td>
                        </tr>

                        <!--END 循环遍历-->
                    </table>
                    <!--分页按钮-->
                    <div class="list-page">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>
    //checkbox的全选与取消全选
    $('#allChoose').on('change', function () {
        if ($(this).is(':checked')) {
            $('.singleChoose').prop('checked', 'checked');
        } else {
            $('.singleChoose').prop('checked', '');
        }
    })
</script>

