<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>退/订单条例</title>
</head>
<body>

    <!--导航栏-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" class="logo"/></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            菜单信息
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">今日菜单</a></li>
                            <li class="divider"></li>
                            <li><a href="weekMenu.html">本周菜单</a></li>
                        </ul>
                    </li>
                    <li><a href="cart.html">购物车</a></li>
                    <li><a href="order.html">我的订单</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            其他信息
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">公告栏</a></li>
                            <li class="divider"></li>
                            <li><a href="refundRule.html">订/退餐条例</a></li>
                            <li class="divider"></li>
                            <li><a href="advice.html">意见反馈</a></li>
                        </ul>
                    </li>
                    <li><div style="width: 465px">&nbsp;</div></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--END 导航栏--->
    <div class="container">
        <!--START 退/订单条例-->
        <div class="refundRule" style="font: 17px kaiti">
            各部门、驻外机构： <br>
            为规范业务退款的相关事项及流程，经公司研究决定，现将业务退款管理规定通知如下：<br>
            一、有以下情况的予以退款：<br>
            由于我司原因导致客户要求退款的，我司承担相应的责任，予以退款，但不承担连带责任，具体如下：<br>
            1、我司原因导致硬件设备故障的;<br>
            2、提供抗拒绝服务攻击保护的设备，长期出现未达客户购买攻击阀值的情况;<br>
            3、我司原因导致服务器网络中断超过国际SLA标准的（网络联通率达99.5%）;<br>
            4、我司服务人员对客户不礼貌的、辱骂客户的，且客户可提供相应证据的。<br>
            二、不予退款情况为：未出现上述原因的，但不包含本规定所述其他退款管理办法。<br>
            三、由于客户原因导致支付错误的，经财务部审核，方可退款。<br>
            四、办理流程<br>
            1、客户的负责专员负责受理客户的退款请求，并核实，上报部门主管;<br>
            2、部门主管核实签字后，由客户负责专员上报业务监督管理委员会秘书长（行政人事部）;<br>
            3、由监督管理委员会秘书长上交监督管理委员会进行审核;<br>

            4、审核通过后，报财务部，由财务部按照本管理办法进行退款办理。<br>
            五、其他说明<br>
            1、符合本规定第一条第1项所述，须上报公司业务监督管理委员会，经委员会批准通过，方可退款;<br>
            2、退款仅退业务费用的未使用部分，须明确告知客户;
            3、如出现虚假退款情况的，由公司业务监督管理委员会对其做出处罚决定，行政人事部执行处罚。<br>

            4、涉及到特殊情况，如本规定之外的退款，则一律由业务监督委员会决定退款事宜。<br>
            特此通知<br>
        </div>
        <!--END 退/订单条例-->
    </div>

    <!--Start 底部-->
    <div class="footer">
    <div class="panel-footer">
    <ul>
        <li>学校入驻</li>
        <li>配送加盟</li>
        <li>城市代理</li>
    </ul>
    <ul>
        <li>关于水高</li>
        <li>媒体报道</li>
        <li>平台制度</li>
    </ul>
    <ul>
        <li>常见问题</li>
        <li>用户反馈</li>
        <li>诚信举报</li>
    </ul>
    <div class="contactMe">
        <font size="5px"><b>1010-9777</b></font> <br/><br>
        周一至周日 9:00-23:00 <br/>
        客服不受理商务合作 <br/>
    </div>
    <div class="contactMe">
        <img src="images/QR-code.png" alt="" width="80px" style="position: relative;top: -20px;"/>
        <div style="font-size: 14px;display: inline-block">
            <b>关注公众号</b>
            <br><br>
            更多折扣，更多优惠
        </div>
    </div>
    </div>
        <div class="beian">
    ©2015 shuigao.com 京ICP证070791号 京公网安备11010502025545号
        </div>
    </div>
<!--End 底部-->
</body>
</html>